<section class="property-binding">
    <!--
    <article>
        <h3>Interpolation / Interpolação</h3>
        <p>String renderizada com interpolaçao: {{ url }}</p>
        <p> Resultado de 8 X 7 é: {{ 8 * 7 }}</p>
        <p> Resultado de 8 X 7 é: {{ 8 * 7 + getValor() }}</p>
        <p>Curso de Angular e gosto do curso: {{ cursoAngular && getCurtirCurso() }}</p>
    </article>

    <article>
        <h3>Property Binding</h3>
        <img src="{{ urlImagem }}">
        <img [src]="urlImagem">
    </article>
    -->
    <article>
        <h3> Class Binding</h3>
    </article>
</section>